<div class="navbar-top">
    <div class="container">
        <ul class="navbar-left-block">
            <li ui-sref="home"><span class="button-menu">Home</span></li>
            <li ui-sref="feed"><span class="button-menu">Feed</span></li>
        </ul>
        <div class="navbar-right-block" ng-if="!$ctrl.rootScope.isAuthenticated">
            <form ng-submit="$ctrl.loginNewUser($ctrl.userData)">
                <input class="login-input" type="text" placeholder="login" ng-model="$ctrl.userData.username" />
                <input class="login-input" type="password" placeholder="password" ng-model="$ctrl.userData.password" />
                <button type="submit" class="sub-btn">Submit</button>
            </form>
        </div>
        <div class="navbar-right-block" ng-if="$ctrl.rootScope.isAuthenticated">
            <div class="user-avatar">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img ng-src="http://startupers.blob.core.windows.net{{$ctrl.currentUser.data.photoMiddle}}" alt="" />
                </a>
                <ul class="dropdown-menu">
                    <li><span ui-sref="profile">Profile</span></li>
                    <li><span>Settings</span></li>
                    <li><span ng-click="$ctrl.logOut()">Log out</span></li>
                </ul>
            </div>
            <button class="sub-btn" ng-click="$ctrl.openComponentModal()">Post</button>
        </div>
    </div>
</div>

